body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

.container {
  margin-top: 40px;
}

.timer {
  font-size: 60px;
  margin: 20px;
}

button {
  margin: 6px;
  padding: 10px 15px;
  border: none;
  background: #00adb5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #007f86;
}

input, select {
  padding: 8px;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e1e1e;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

canvas {
  max-width: 500px;
  margin: 20px auto;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}